.login__form {
  width: 40%;
  margin: auto;
  background-color: #d3d3d3;
}

.login__form-heading {
  width: auto;
  background-color: #8fc400;
  color: #fff;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  border: 1.5px solid #f1e767;
}

.login__form-input {
  width: 90%;
  margin: 2rem auto;
  border: thin solid #8fc400;
  padding: 1rem;
  align-items: center;
}

::-moz-placeholder {
  font-size: 1.5rem;
  font-family: "Kdam Thmor Pro", sans-serif;
  letter-spacing: 0.2rem;
  opacity: 0.5;
}

.login__form-input::-webkit-input-placeholder {
  font-size: 1.5rem;
  font-family: "Kdam Thmor Pro", sans-serif;
  letter-spacing: 0.2rem;
  opacity: 0.5;
}

.login__btn {
  border: 1.5px solid #f1e767;
  background-color: #8fc400;
  color: #fff;
  float: right;
  cursor: pointer;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 3rem;
}

.login__btn:hover {
  background-color: #f1e767;
  border: 1.5px solid #8fc400;
  color: #333;
}
