* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  font-weight: 300;
  background-color: #d3d3d3;
  color: #333;
  font-family: "Poppins", sans-serif;
  line-height: 1.9;
  position: relative;
}
